<li>
  <div class="each_team_box">
    <figure class="cap-bot">
      <% if !team.picture.blank? %>
      <%= image_tag team.picture_url.to_s, :class => "team_pics", data: { frame: "", ratio: "210x297" } %>
      <% else %>
      <%= image_tag '220x220.png', class: "team_pics", data: { frame: "", ratio: "210x297" } %>
      <% end %>
      <figcaption class="team_icons">
        <p class="connect">Connect with me!</p>
        <% if !team.linkedin_link.empty? %>
          <%= link_to team.linkedin_link, :target => "_blank" do %>
            <i class="fa fa-linkedin-square fa-2x todaright"></i>
          <% end %>
        <% end %>
        <% if !team.twitter_link.empty? %>
          <%= link_to team.twitter_link, :target => "_blank" do %>
            <i class="fa fa-twitter-square fa-2x todaright"></i>
          <% end %>
        <% end %>
        <% if !team.facebook_link.empty? %>
          <%= link_to team.facebook_link, :target => "_blank" do %>
            <i class="fa fa-facebook-square fa-2x todaright"></i>
          <% end %>
        <% end %>
      </figcaption>
    </figure>
    <div class="description">
      <p class="team_role_title"><%= team.role %></p>
      <p class="team_name"><%= team.name %></p>
    </div>
  </div>

</li>