<%= form_for(@interested_startup) do |f| %>

  <div class="field">
    <%= f.label :name, "Name of the Startup" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contactname, "Founder's Name" %>
    <%= f.text_field :contactname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Choose a cover image' %>
    <%= f.file_field :cover_image %>
  </div>
  <div class="field">
    <%= f.label 'Choose a logo' %>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :website, "Web URL" %>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :app_link, "Mobile APP URL:" %>
    <%= f.text_field :app_link %>
  </div>
  <div class="field">
    <%= f.label :facebook_link, "Facebook Link" %>
    <%= f.text_field :facebook_link %>
  </div>
  <div class="field">
    <%= f.label :twitter_link, "Twitter Link" %>
    <%= f.text_field :twitter_link %>
  </div>
  <div class="field">
    <%= f.label :advice, "Advice for other Fashion Startup Entreprenuers" %>
    <%= f.text_area :advice %>
  </div>
  <div class="field">
    <%= f.label :elevator_pitch, "Elevator Pitch" %>
    <%= f.text_area :elevator_pitch %>
  </div>
  <div class="field">
    <%= f.label :success, "Biggest Success" %>
    <%= f.text_area :success %>
  </div>
  <div class="field">
    <%= f.label :challenge, "Biggest Challenge" %>
    <%= f.text_area :challenge %>
  </div>

  <%= f.hidden_field :startup_id, value: params[:id] %>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>