<%= form_for(@interested_startup), :html => {:multipart => true} do |f| %>

  <div class="field">
    <%= f.label :name, "Name of the Startup" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contactname, "Founder's Name" %>
    <%= f.text_field :contactname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Choose a cover image' %>
    <%= f.file_field :cover_image %>
  </div>
  <div class="field">
    <%= f.label 'Choose a logo' %>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :headshot, "Web URL" %>
    <%= f.text_field :headshot %>
  </div>
  <div class="field">
    <%= f.label :question1, "Mobile APP URL:" %>
    <%= f.text_field :question1 %>
  </div>
  <div class="field">
    <%= f.label :question2, "Facebook Link" %>
    <%= f.text_field :question2 %>
  </div>
  <div class="field">
    <%= f.label :question3, "Twitter Link" %>
    <%= f.text_field :question3 %>
  </div>
  <div class="field">
    <%= f.label :question4, "Bio - Your entrepreneurial story. Tell us about yourself, your entrepreneurial journey; why you decided to become an entrepreneur; and, insights into your path for the future. Max 250 words" %>
    <%= f.text_area :question4 %>
  </div>
  <div class="field">
    <%= f.label :question5, "Elevator Pitch" %>
    <%= f.text_area :question5 %>
  </div>
  <div class="field">
    <%= f.label :question6, "Biggest Success" %>
    <%= f.text_area :question6 %>
  </div>
  <div class="field">
    <%= f.label :question7, "Biggest Challenge" %>
    <%= f.text_area :question7 %>
  </div>

  <%= f.hidden_field :startup_id, value: params[:id] %>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>