<div class="container">

  <div class="header-container">
      <div class="logo-container">
        <%= image_tag("logo.png") %>
      </div>
      <div class="headline">
        <h1 class="oxygen">STARTUP FASHION WEEK</h1>
        <h2 class="oxygen2">Discover | Connect | Accelerate</h2>
         <div class="social-icons">
            <a href="#"><%= image_tag(("twitter_icon.png"), :class => "social")%></a>
             <a href="#"><%= image_tag(("facebook_icon.png"), :class => "social")%></a>
              <a href="#"><%= image_tag(("instagram_icon.png"), :class => "social")%></a>
          </div>
        </div>
          </div>

    <div class="nav-width">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
            <li><%= link_to "HOME", welcome_index_path %></li>
              <li><%= link_to "ABOUT", welcome_about_path %></li>
              <li><%= link_to "THE TEAM", welcome_team_path %></li>
              <li><%= link_to "EVENTS", welcome_index_path %></li>
              <li><%= link_to "SPEAKERS", welcome_index_path %></li>
              <li><%= link_to "SPONSORS", welcome_index_path %></li>
              <li><%= link_to "MEDIA", welcome_media_path %></li>
              <li><%= link_to "CONTACT US", welcome_contact_path %></li>
      </ul>


    </section>
  </nav>
  <div class="body-content-wrapper">
            <div class="sidebar">
              <ul>
                <li><a href="#Startup">Startup Spotlight</a></li>
                <li><a href="#Interested?">What your Startup Featured?</a></li>
                <li><a href="#Previous">Previously in the Spotlight</a></li>
              </ul>
            </div>
            <div id="main">
                <h1><a name="Startup">STARTUP SPOTLIGHT</a></h1>
                <hr />
                <div style="height: 199px; overflow: visible;"><%= image_tag @interested_startup.cover_image_url.to_s, :size => "679x250" %></div>
                <%= image_tag @interested_startup.logo_url.to_s, :style => "width: 150px; margin-left: 30px; border: 3px solid white" %>
                <img style="width: 30px; margin-bottom: 25px; " src="http://jonathanbmiller.com/Content/blacktwitter.gif"/>
                <img style="width: 30px; margin-bottom: 25px; " src="http://jonathanbmiller.com/Content/blackfacebook.gif" />
                <img style="width: 150px; margin-bottom: 15px; " src="http://jonathanbmiller.com/Content/appstore_logo.png" />
                <p>
                    <strong><%= @interested_startup.name %></strong><br />
                    <%= link_to @interested_startup.headshot %><br />
                    <br />
                    Advice for other Fashion Startup Entreprenuers: <br />
                    <%= @interested_startup.question4 %><br />
                    <br />
                    Elevator Pitch:<br />
                    <%= @interested_startup.question5 %><br />
                    <br />
                    Biggest Challenge:<br />
                    <%= @interested_startup.question6 %>
                </p>
                    <hr />
                <p>
                  <h4><a name="Interested?"> WANT YOUR STARTUP FEATURED?</a></h4>
                  We will select a new startup to be featured periodically. If you have a Fashion Startup and would
                  like it to be featured simply
                    <a href="#" data-reveal-id="myModal" data-reveal>click here</a> to fill out the form
                     <div id="myModal" class="reveal-modal" data-reveal>
                       <h3>Interested in being featured?</h3>
                         <p class="lead">Fill out the form below!</p>
                         <p><%= render '/interested_startups/form' %></p>
                         <a class="close-reveal-modal">&#215;</a>
                     </div>
                </p>
                <hr />
                <h4><a name="Previous">PREVIOUSLY FEATURED STARTUPS</a></h4>
                  <% @interested_startups.each do |startups| %>
                    <ul>
                      <li><%= image_tag startups.logo_url, :size => "150x150" %></li>
                    </ul>
                  <% end %>
            </div>
        </div>
        <div class="footer">
          <div class="ticker" id="msg_ticker">
              <ul>
                <li><a href="#">Sign up for our Newsletter</a></li>
                <li><a href="#">Message 2</a></li>
                <li><a href="#">Message 3</a></li>
                <li><a href="#">Message 4</a></li>
              </ul>
            </div>

            <a href="#"><div class="click"><p>Click Here</p></div></a>
        </div>
    </div>
</div>