<%= form_for(@startup) do |f| %>
  <% if @startup.errors.any? %>
    <div class="error_messages">
       <small class="error">Invalid Formats</small>
      <ul>
        <% for message in @startup.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= image_tag @startup.logo_url(:thumb) %>
    <%= f.label 'Choose a logo' %>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.check_box :remove_logo %>
    <%= f.label 'Remove logo' %>
  </div>
  <div class="field">
    <%= f.label :short_description %>
    <%= f.text_area :short_description %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label 'Social Media Links' %>
    <%= f.text_field :socialmedia_links %>
    <%= f.text_field :socialmedia_links %>
  </div>
  <div class="action">
    <%= f.submit 'Submit' %>
  </div>
<% end %>