<div id="startup" class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">
    <!-- sidebar -->
    <aside class="sidebar">
      <ul>
        <li><a href="#Startup">Startup Spotlight</a></li>
        <li><a href="#Interested?">Want your Startup Featured?</a></li>
        <li><a href="#Previous">Previously Featured Startups</a></li>
      </ul>
    </aside>
  </div>
  <div class="medium-9 column">
    <!-- content -->
    <content class="content">
      <h1><a name="Startup">Startup Spotlight</a></h1>

      <header class="section-header" style="background-image: url(<%= @startup.cover_image_url.to_s %>)" data-frame data-ratio="16x9">
        <div class="intro">
          <%= image_tag @startup.logo_url.to_s, class: "logo" %>
          <div class="inline">
          <div class="table">
            <div class="table-inner">
              <ul class="social_icon_grp">
                <% if !@startup.twitter_link.empty? %>
                  <li><%= link_to @startup.twitter_link do %>
                    <i class="fa fa-twitter-square"></i><% end %></li>
                <% end %>
                <% if !@startup.facebook_link.empty? %>
                  <li><%= link_to @startup.facebook_link do %>
                    <i class="fa fa-facebook-square"></i><% end %></li>
                <% end %>
                <% if !@startup.app_link.empty? %>
                  <li><%= link_to @startup.app_link do %>
                    <%= image_tag "apple_store_icon.jpg" %>
                  <% end %></li>
                <% end %>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </header>

      <div class="spotlight_content">
        <strong><%= @startup.name %></strong><br />
        <%= link_to @startup.website, @startup.website %><br />
        <br />
        <strong>Elevator Pitch:</strong><br />
        <%= @startup.elevator_pitch %><br />
        <br />
        <strong>Advice for other Fashion Startup Entrepreneurs:</strong> <br />
        <%= @startup.advice %><br />
        <br />
        <strong>Biggest Challenge:</strong><br />
        <%= @startup.challenge %>
      </div>
      <hr />
      <div>
        <h4><a name="Interested?"> WANT YOUR STARTUP FEATURED?</a></h4>
        <p>We will select a new startup to be featured periodically. If you have a Fashion Startup and would
        like it to be featured simply <a href="#" data-reveal-id="myModal" data-reveal>CLICK HERE</a> to fill out the form</p>
        <div id="myModal" class="reveal-modal" data-reveal>
          <h3>Interested in being featured?</h3>
          <p class="lead">Fill out the form below!</p>
          <p><%= render '/interested_startups/form' %></p>
          <a class="close-reveal-modal">&#215;</a>
         </div>
      </div>
      <hr />
      <div>
        <h4><a name="Previous">PREVIOUSLY FEATURED STARTUPS</a></h4>
        <% @startups.each do |startup| %>
          <ul>
            <% unless startup == Feature.startup %>
            <li>
              <%= link_to(startup_path(startup)) do %>
                <%=image_tag startup.logo_url, :size => "150x150" %>
              <% end %>
            </li>
            <% end %>

          </ul>
        <% end %>
      </div>
    </content>
  </div>
</div>
<%= render 'layouts/message_ticker' %>
</div>
</div>

