<%= @startup.name %> is Our Featured Startup Spotlight!<br/>
<%= image_tag @startup.logo %><br/>
<%= @startup.description %><br/><br/>
Check them out at:<br/>
<%= @startup.socialmedia_links %>
<br/>
Interested in being featured?

 <a href="#" data-reveal-id="myModal" data-reveal>Click Here</a> to fill out the form
  <div id="myModal" class="reveal-modal" data-reveal>
    <h3>Interested in being featured?</h3>
      <p class="lead">Fill out the form below!</p>
      <p><%= render '/interested_startups/form' %></p>
      <a class="close-reveal-modal">&#215;</a>
  </div>

<div class="container">

  <div class="header-container">
      <div class="logo-container">
        <%= image_tag("logo.png") %>
      </div>
      <div class="headline">
        <h1 class="oxygen">STARTUP FASHION WEEK</h1>
        <h2 class="oxygen2">Discover | Connect | Accelerate</h2>
         <div class="social-icons">
            <a href="#"><%= image_tag(("twitter_icon.png"), :class => "social")%></a>
             <a href="#"><%= image_tag(("facebook_icon.png"), :class => "social")%></a>
              <a href="#"><%= image_tag(("instagram_icon.png"), :class => "social")%></a>
          </div>
        </div>
          </div>

    <div class="nav-width">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
            <li><%= link_to "HOME", welcome_index_path %></li>
              <li><%= link_to "ABOUT", welcome_about_path %></li>
               <li><%= link_to "THE TEAM", welcome_team_path %></li>
               <li><%= link_to "EVENTS", welcome_index_path %></li>
               <li><%= link_to "SPEAKERS", welcome_index_path %></li>
               <li><%= link_to "SPONSORS", welcome_index_path %></li>
              <li><%= link_to "MEDIA", welcome_media_path %></li>
              <li><%= link_to "CONTACT US", welcome_contact_path %></li>
      </ul>


    </section>
  </nav>
  <div class="content">
            <div class="left-side">
                <p>
                    Startup Spotlight<br />
                    Want your Startup Featured?<br />
                    Previously in the Spotlight<br />
                </p>
            </div>
            <div class="right-side">
                <h1>STARUP SPOTLIGHT</h1>
                <hr />
                <div style="height: 199px; overflow: visible;"><img style="height: 250px;" src="http://jonathanbmiller.com/Content/FashionTruck_cover.png"/></div>
                <img style="width: 150px; margin-left: 30px; border: 3px solid white; " src="http://jonathanbmiller.com/Content/FashionTruck_logo.png"/>
                <img style="width: 30px; margin-bottom: 25px; " src="http://jonathanbmiller.com/Content/blacktwitter.gif"/>
                <img style="width: 30px; margin-bottom: 25px; " src="http://jonathanbmiller.com/Content/blackfacebook.gif" />
                <img style="width: 150px; margin-bottom: 15px; " src="http://jonathanbmiller.com/Content/appstore_logo.png" />
                <p>
                    <strong>Fashion Truck Canada</strong><br />
                    <a href="http://www.fashiontruckcanada.com">www.fashiontruckcanada.com</a><br />
                    <br />
                    Bio: <br />
                    Fashion Truck Canada was founded in 1012 by a Hamilton ON entrepreneur Sean Snyder.<br />
                    <br />
                    Elevator Pitch:<br />
                    Fashion Truck Canada is a mobile boutique<br />
                    <br />
                    Biggest Challenge:<br />
                    We had a hard time launching our mobile APP.
                </p>
                    <hr />
                <p>
                    WANT YOUR STARTUP FEATURED?<br />
                    <br />
                    We will select a new startup to be featured periodically. If you have a Fashion Startup and would
                    like it to be featured simply fill the below out!
                </p>
                <label style="font-size:smaller">Full Name</label><br />
                <input type="text" /><br />
                <label style="font-size:smaller">Email</label><br />
                <input type="text" />
                <p>
                    Bio - Your entrepreneural story. Tell us about yourself, your entrepreneural journey, why you decieded
                    to become an entrepreneur, and insights into your path for the future. Max 250 words
                </p>
                <textarea style="min-width: 380px;max-width: 100%;min-height: 100px;"></textarea>
                <hr />
                <p>Previously Featured Startups:</p>
                <ul class="photo-list">
                    <li><img src="http://jonathanbmiller.com/Content/trendtrunk.png" /></li>
                    <li><img src="http://jonathanbmiller.com/Content/trendtrunk.png" /></li>
                    <li><img src="http://jonathanbmiller.com/Content/trendtrunk.png" /></li>
                    <li><img src="http://jonathanbmiller.com/Content/trendtrunk.png" /></li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <h2>Sign up for our Newsletter</h2>
            <div>
                <h2>Click Here</h2>
            </div>
        </div>
    </div>
</div>