<div id="" class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">
    <!-- sidebar -->
    <aside class="sidebar">
      <ul>
        <li><a href="#Startup">Startup Spotlight</a></li>
        <li><a href="#Interested?">Want your Startup Featured?</a></li>
        <li><a href="#Previous">Previously Featured Startups</a></li>
      </ul>
    </aside>
  </div>
  <div class="medium-9 column">
    <!-- content -->
    <content class="content">
      <h1><a name="Startup">Startup Spotlight</a></h1>
      <div style="height: 199px; overflow: visible;"><%= image_tag @startup.cover_image_url.to_s, :size => "679x250" %></div>
      <div class="sml_logo_pic">
        <%= image_tag @startup.logo_url.to_s, :style => "width: 150px; margin-left: 30px; border: 3px solid white" %>
      </div>
      <ul class="social_icon_grp">
        <% if !@startup.twitter_link.empty? %>
          <%= link_to @startup.twitter_link do %>
            <li><i class="fa fa-twitter-square fa-2x"></i></li>
          <% end %>
        <% end %>
        <% if !@startup.facebook_link.empty? %>
          <%= link_to @startup.facebook_link do %>
            <li><i class="fa fa-facebook-square fa-2x"></i></li>
          <% end %>
        <% end %>
        <% if !@startup.app_link.empty? %>
          <%= link_to @startup.app_link do %>
            <li><%= image_tag "apple_store_icon.jpg", :style => "width:150px" %></li>
          <% end %>
        <% end %>
      </ul>
      <div class="spotlight_content">
        <strong><%= @startup.name %></strong><br />
        <%= link_to @startup.website, @startup.website %><br />
        <br />
        <strong>Elevator Pitch:</strong><br />
        <%= @startup.elevator_pitch %><br />
        <br />
        <strong>Advice for other Fashion Startup Entrepreneurs:</strong> <br />
        <%= @startup.advice %><br />
        <br />
        <strong>Biggest Challenge:</strong><br />
        <%= @startup.challenge %>
      </div>
      <hr />
      <div>
        <h4><a name="Interested?"> WANT YOUR STARTUP FEATURED?</a></h4>
        <p>We will select a new startup to be featured periodically. If you have a Fashion Startup and would
        like it to be featured simply <a href="#" data-reveal-id="myModal" data-reveal>CLICK HERE</a> to fill out the form</p>
        <div id="myModal" class="reveal-modal" data-reveal>
          <h3>Interested in being featured?</h3>
          <p class="lead">Fill out the form below!</p>
          <p><%= render '/interested_startups/form' %></p>
          <a class="close-reveal-modal">&#215;</a>
         </div>
      </div>
      <hr />
      <div>
        <h4><a name="Previous">PREVIOUSLY FEATURED STARTUPS</a></h4>
        <% @startups.each do |startup| %>
          <ul>
            <% unless startup == Feature.startup %>
            <li>
              <%= link_to(startup_path(startup)) do %>
                <%=image_tag startup.logo_url, :size => "150x150" %>
              <% end %>
            </li>
            <% end %>

          </ul>
        <% end %>
      </div>
    </content>
  </div>
</div>
<%= render 'layouts/message_ticker' %>
</div>
</div>

