<!DOCTYPE html>
<html>
  <head>
    <meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <body>
      <h3>Welcome, <%= @interested_startup.name%>!</h3>
      <p>
        Thank you for your interest in wanting to be featured in our startup spotlight!
      </p>
      <p>
        Below is the questionaire that you filled out and someone will get back to you shortly
      </p>
      <form>
        Name of Startup: <%= @interested_startup.name %><br/>
        Name of Contact: <%= @interested_startup.contactname %><br/>
        Email: <%= @interested_startup.email %><br/>
        Tell us about your startup business in 3 sentences: <%= @interested_startup.question1 %><br/>
        When was your startup founded? <%= @interested_startup.question2 %><br/>
        Why did you launch this startup? <%= @interested_startup.question3 %><br/>
        What has been your greatest challenge so far? <%= @interested_startup.question4 %><br/>
        What has been your biggest success so far? <%= @interested_startup.question5 %><br/>
        What advice would you give to someone else who is just starting their business? <%= @interested_startup.question6 %><br/>
        What are you hoping to get out of Startup Fashion Week? <%= @interested_startup.question7 %><br/>
      </form>
      <p>Check out our site at www.startupfashionweekend.com</p>
    </body>
</html>