<li>
  <div class="each_team_box">
    <figure class="cap-bot">
      <% if !participant.headshot.blank? %>
      <%= image_tag((participant.headshot_url.to_s), :class => "team_pics")%>
      <% else %>
      <%= image_tag '220x220.png', class: "team_pics" %>
      <% end %>
      <figcaption class="team_icons">
        <p class="connect">Connect with me!</p>
        <% if !participant.linkedin.empty? %>
          <%= link_to participant.linkedin, :target => "_blank" do %>
            <i class="fa fa-linkedin-square fa-2x todaright"></i>
          <% end %>
        <% end %>
        <% if !participant.twitter.empty? %>
          <%= link_to participant.twitter, :target => "_blank" do %>
            <i class="fa fa-twitter-square fa-2x todaright"></i>
          <% end %>
        <% end %>
      </figcaption>
    </figure>
    <div class="description">
      <p class="team_role"><%= participant.name %></p>
    </div>
  </div>
</li>

