<div id="participant" class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">

    <!-- sidebar -->
    <aside class="sidebar">
      <ul>
        <li><a href="#ConferenceSpeakers">Conference Speakers</a></li>
        <li><a href="#DFJudges">Digital Fashion Judges</a></li>
        <li><a href="#DFEntrepreneurs">Digital Fashion Entrepreneurs</a></li>
        <li><a href="#Wrkshp1">Workshop 1 Speakers</a></li>
        <li><a href="#Wrkshp2">Workshop 2 Speakers</a></li>
        <li><a href="#Wrkshp3">Workshop 3 Speakers</a></li>
        <li><a href="#FSDesigners">Fashion Show Designers</a></li>
        <li><a href="#FSJudges">Fashion Show Judges</a></li>
      </ul>
    </aside>

  </div>
  <div class="medium-9 column">

    <!--  content -->
    <content class="content">
      <a name="ConferenceSpeakers" class="level"><h3>Conference Speakers</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.conference_speakers.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="DFJudges" class="level"><h3>Digital Fashion Judges</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.digital_fashion_judges.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="DFEntrepreneurs" class="level"><h3>Digital Fashion Entrepreneurs</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.digital_fashion_entrepreneurs.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="Wrkshop1" class="level"><h3>Workshop 1 Speakers</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.workshop_1_speakers.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="Wrkshop2" class="level"><h3>Workshop 2 Speakers</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.workshop_2_speakers.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="Wrkshop3" class="level"><h3>Workshop 3 Speakers</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.workshop_3_speakers.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="FSDesigners" class="level"><h3>Fashion Show Designers</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.fashion_show_designers.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="FSJudges" class="level"><h3>Fashion Show Judges</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.fashion_show_judges.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
    <!-- content end here -->

    </content>

  </div>
</div>

<!-- message ticker -->
<%= render 'layouts/message_ticker' %>

</div>
</div>



