<div id="participant" class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">

    <!-- sidebar -->
    <aside class="sidebar">
      <ul>
        <li><a href="#DigitalFashionDemo">Oct. 7 -Digital Fashion Demo Presenters</a></li>
        <li><a href="#ConferenceSpeakers">Oct. 8 -Conference Speakers</a></li>
        <li><a href="#StartupEmergingDesigners">Oct. 9 -Startup/Emerging Designers</a></li>
        <li><a href="#DigitalFashionStartups">Oct. 9 -Digital Fashion Startups</a></li>
        <li><a href="#ExhibitorsLoungePartners">Oct. 9 -Exhibitors/Demo Lounge Partners</a></li>
        <li><a href="#Runways">Oct. 9 Runway Models</a></li>

      </ul>
    </aside>

  </div>
  <div class="medium-9 column">

    <!--  content -->
    <content class="content">
      <a name="DigitalFashionDemo" class="level"><h3>Oct. 7 -Digital Fashion Demo Presenters</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-2 large-block-3">
          <% @participants.digital_fashion_demo_presenters.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="ConferenceSpeakers" class="level"><h3>Oct. 8 -Conference Speakers</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-2 large-block-3">
          <% @participants.conference_speakers.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="StartupEmergingDesigners" class="level"><h3>Oct. 9 -Startup/Emerging Designers</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-3">
          <% @participants.startup_emerging_designers.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="DigitalFashionStartups" class="level"><h3>Oct. 9 -Digital Fashion Startups</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-2 large-block-3">
          <% @participants.digital_fashion_startups.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="ExhibitorsLoungePartners" class="level"><h3>Oct. 9 -Exhibitors/Demo Lounge Partners</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-2 large-block-3">
          <% @participants.exhibitors_lounge_partners.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
      <a name="Runways" class="level"><h3>Oct. 9 Runway Models</h3></a>
      <hr>
      <div class="sponsor_img">
        <div class="small-block-grid-1 medium-block-grid-2 large-block-3">
          <% @participants.runway_models.each do |participant| %>
            <%= render participant %>
          <% end %>
        </div>
      </div>
    <!-- content end here -->

    </content>

  </div>
</div>

<!-- message ticker -->
<%= render 'layouts/message_ticker' %>

</div>
</div>



