<div class="container">

  <div class="header-container">
      <div class="logo-container">
        <%= image_tag("logo.png") %>
      </div>
      <div class="headline">
        <h1 class="oxygen">STARTUP FASHION WEEK</h1>
        <h2 class="oxygen2">Discover | Connect | Accelerate</h2>
         <div class="social-icons">
            <a href="#"><%= image_tag(("twitter_icon.png"), :class => "social")%></a>
             <a href="#"><%= image_tag(("facebook_icon.png"), :class => "social")%></a>
              <a href="#"><%= image_tag(("instagram_icon.png"), :class => "social")%></a>
          </div>
        </div>
          </div>

    <div class="nav-width">
      <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
             <li><%= link_to "HOME", welcome_index_path %></li>
              <li><%= link_to "ABOUT", welcome_about_path %></li>
               <li><%= link_to "THE TEAM", teams_path %></li>
               <li><%= link_to "EVENTS", welcome_index_path %></li>
               <li><%= link_to "SPEAKERS", welcome_index_path %></li>
               <li><%= link_to "SPONSORS", welcome_index_path %></li>
              <li><%= link_to "MEDIA", welcome_media_path %></li>
              <li><%= link_to "CONTACT US", welcome_contact_path %></li>
          </ul>
        </li>
      </ul>

    </section>
  </nav>
</div>
</div>
  <div class="body-content-wrapper">
    <div class="sidebar">
      <ul>
        <li><a href="#General">General Inquiries</a></li>
        <li><a href="#Volunteers">Volunteers</a></li>
        <li><a href="#Designers">Designers</a></li>
        <li><a href="#Vendors">Vendors</a></li>
      </ul>
    </div>
    <div id="main">
      <h1>CONTACT US</h1>
      <hr></hr>
      <h3><a name="General">GENERAL INQUIRIES:</a></h3>
      <p>FOR ALL GENERAL INQUIRIES PLEASE CONTACT US: INFO@STARTUPFASHIONWEEK.COM</p>
      <hr></hr>

      <h3><a name="Volunteers">VOLUNTEERS:</a></h3>
      <p>IF YOU WOULD LIKE TO VOLUNTEER FOR THE PLANNING OF STARTUP FASHION WEEK OR DURING THE EVENTS PLEASE SEND US AN EMAIL TO: VOLUNTEER@STARTUPFASHIONWEEK.COM</p>


      PLEASE INCLUDE A LINK TO YOUR LINKEDIN PROFILE - OR RESUME AND ANSWER THE FOLLOWING THREE QUESTIONS:
      <ul>
        <li>1.       What is your availability?</li>
        <li>2.       What experience do you have with event production or fashion?</li>
        <li>3.       What do you hope to do or learn as a volunteer?</li>
      </ul>

       <hr></hr>

      <h3><a name="Designers">DESIGNERS:</a></h3>
      <p>IF YOU ARE A STARTUP DESIGNER WHO WOULD LIKE TO SHOWCASE YOUR COLLECTION AT STARTUP FASHION WEEK PLEASE SEND AN EMAIL TO: EVENTS@STARTUPFASHIONWEEK.COM

      PLEASE INCLUDE A LINK TO YOUR WEBSITE ALONG WITH ANY LOOKBOOKS OR PRESS RELEASES REGARDING YOUR LATEST WORK.</p>

      <hr></hr>

      <h3><a name="Vendors">VENDORS / SPONSORS</a></h3>

      <p>IF YOU WOULD LIKE TO SHOWCASE YOUR BUSINESS AS A VENDOR OR SPONSOR PLEASE SEND US AN EMAIL TO: SPONSORS@STARTUPFASHIONWEEK.COM WITH A LINK TO YOUR WEBSITE AND WE WILL SEND YOU THE VENDOR / SPONSOR PACKAGE.</p>
    </div>
  </div>

<!-- footer -->
    <div class="footer">
      <div class="ticker" id="msg_ticker">
          <ul>
            <li><a href="#">Sign up for our Newsletter</a></li>
            <li><a href="#">Message 2</a></li>
            <li><a href="#">Message 3</a></li>
            <li><a href="#">Message 4</a></li>
          </ul>
        </div>

        <a href="#"><div class="click"><p>Click Here</p></div></a>
    </div>
</div>
