<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Startup Fasthion Week" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header-container">
        <div class="logo-container">
          <img src="logo.png"/>
        </div>
        <div class="headline">
          <h1>STARTUP FASHION WEEK</h1>
          <h2>Discover | Connect | Accelerate</h2>
        </div>
      </div>
      <div class="highlight-boxes">
        <%= image_tag "220x220.png", :class => "image" %>
          <%= link_to @featured, class: 'caption' do %>
            <%= @featured.short_description %>
          <% end %>
          <h6 class="panel"><%= link_to "Startup of the Week", @featured %></h6>

        <%= image_tag "220x220.png", :class => "image" %>
          <%= link_to @sponsor.url, class: 'caption' do %>
            <%= @sponsor.description %>
          <% end %>
          <h6 class="panel">Sponsor Spotlight</h6>

        <%= image_tag "220x220.png", :class => "image" %>
          <p class="caption">To be notified when we release the event details for our Soft Launch please sign up for our e-mail list here:</p>
          <h6 class="panel">Event Spotlight</h6>

        <%= image_tag "220x220.png", :class => "image" %>
          <p class="caption">Don't miss all the exciting updates! Join the SFW E-Mail list to get exclusive updates!</p>
            <h6 class="panel"><a href="#" data-reveal-id="myModal" data-reveal>Email List Spotlight</a></h6>
            <div id="myModal" class="reveal-modal" data-reveal>
              <h3>Let's get in touch!</h3>
                <p class="lead">Subscribe, subscribe!</p>
                <p><%= render 'form' %></p>
                <a class="close-reveal-modal">&#215;</a>
            </div>
      </div>
    </div>
  </body>
  </html>







