<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Startup Fasthion Week" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

     <!-- <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'> -->
     <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>

  </head>

  <body>

  <div class="container">

      <div class="header-container">
        <div class="logo-container">
          <%= link_to image_tag("logo.png"), welcome_index_path %>
        </div>
          <div class="headline">
            <h1 class="headline1">STARTUP FASHION WEEK</h1>
            <h2 class="headline2">Discover | Connect | Accelerate</h2>
            <ul class="social-icons">
              <li><a href="https://twitter.com/StartupFW" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></li>
              <li><a href="https://www.facebook.com/StartupFW" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram fa-3x"></i></a></li>
              <li><a href=" http://startupfashionweek.wordpress.com" target="_blank"><i class="fa fa-wordpress fa-3x"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope fa-3x"></i></a><li>
            </ul>
          </div>
      </div>

        <div class="nav-width">
          <div class="contain-to-grid sticky">
          <nav class="top-bar" data-topbar data-options="sticky_on: large">
        <ul class="title-area">
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
              <li><%= link_to "HOME", welcome_index_path %></li>
              <li><%= link_to "ABOUT", welcome_about_path %></li>
               <li><%= link_to "THE TEAM", teams_path %></li>
               <li><%= link_to "EVENTS", events_path %></li>
               <li><%= link_to "SPEAKERS", welcome_index_path %></li>
               <li><%= link_to "SPONSORS", all_sponsors_path %></li>
              <li><%= link_to "MEDIA", welcome_media_path %></li>
              <li><%= link_to "CONTACT US", welcome_contact_path %></li>
          </ul>

        </section>
      </nav>
    </div>
    </div>



<div class="body-content-wrapper">
  <%= image_tag "fashion.gif", :class => "flixel" %>
  <div class="feature-sponsor">
    <div class="feature-sponsor-content">
      <p>Hello World</p>
  </div>
</div>
</div>



    <div class="movedown">
      <div class="ticker" id="msg_ticker">
        <ul>
          <li><a href="http://www.startupfashionweek.wordpress.com" target="_blank?">For great insight on Fashion, Business and Technology follow our Blog!</a></li>
          <li><%= link_to "Want to be a part of the Team?", teams_path %></li>
          <li><a>Sign up to receive exclusive updates and offers from Startup Fashion Week!</a></li>
        </ul>
      </div>

      <div class="click">
        <div class="click_group">
          <i class="fa fa fa-chevron-left fa-3x"></i><div class="click_here">Click</div>
        </div>
    </div>
  </div>



  <section class="highlight-boxes">

  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->


        <div class="large-3 small-6 columns" id="mobi-col">
          <div class="thumbnail">
            <%= image_tag "manequins.JPG", :style => "height: 208px", :class => "image" %>
            <%= link_to @startup, class: 'caption' do %>
              <%= "DISCOVER WHO IS IN OUR STARTUP FASHION SPOTLIGHT THIS WEEK" %>
            <% end %>
          </div>

          <h6 class="panel" id="panel-label"><%= link_to "Startup Spotlight", @startup, :style => "color: #000" %></h6>
        </div>



        <div class="large-3 small-6 columns">
          <div class="thumbnail">
            <%= image_tag "sponsor_spot.jpg", :style => "height: 208px", :class => "image" %>
              <%= link_to @sponsor, class: 'caption' do %>
                <%= "DISCOVER WHO IS IN OUR SPONSOR SPOTLIGHT THIS WEEK" %>
              <% end %>
          </div>
          <h6 class="panel" id="panel-label"><%= link_to "Sponsor Spotlight", @sponsor, :style => "color: #000" %></h6>
        </div>

        <div class="large-3 small-6 columns" id="mobi-col">
          <div class="thumbnail">

          <%= image_tag "event_spot.jpg", :style => "height: 208px", :class => "image" %>
            <%= link_to @event, class: 'caption' do %>
              <%= "DISCOVER WHAT IS HAPPENING NOW" %>
            <% end %>
          </div>
          <h6 class="panel" id="panel-label"><%= link_to "Event Spotlight", @event, :style => "color: #000" %></h6>
        </div>

        <div class="large-3 small-6 columns" id="mobi-col">
          <div class="thumbnail">
             <%= image_tag "contest_spot.jpg", :style => "height: 208px", :class => "image" %>
            <p class="caption">Don't miss all the exciting updates! Join the SFW E-Mail list to get exclusive updates!</p>
          </div>
            <h6 class="panel" id="panel-label"><a href="#" data-reveal-id="myModal" style="color: #000" data-reveal>Contests Spotlight</a></h6>
            <div id="myModal" class="reveal-modal" data-reveal>
              <h3>Let's get in touch!</h3>
                <p class="lead">Subscribe, subscribe!</p>
                <p><%= render 'form' %></p>
                <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>
      <!-- End Thumbnails     -->
      </div>
    </div>
  </div>

<div class="headline"><h2 class="headline2">Discover | Connect | Accelerate</h2></div>


</section>


  <div class="mobi-boxes">
  <%= image_tag "http://placehold.it/250x250&text=Thumbnail", :class => "image" %>
  <%= image_tag "http://placehold.it/250x250&text=Thumbnail", :class => "image" %>
  <%= image_tag "http://placehold.it/250x250&text=Thumbnail", :class => "image" %>
  <%= image_tag "http://placehold.it/250x250&text=Thumbnail", :class => "image" %>
</div>


<div class="space"><iframe src="http://epilogger.com/events/epilogger?width=800&height=700" scrolling="no" frameborder="0" style="overflow:hidden; width:900px; height:700px;"></iframe></div>


    <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-12 columns">
          <p align="right">© Copyright</p>
        </div>
      </div>
    </div>

  </div>
  </footer>





