<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Startup Fasthion Week" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

     <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

  </head>

  <body>

  <div class="container">

      <div class="header-container">
          <div class="logo-container">
            <%= image_tag("logo.png") %>
          </div>
          <div class="headline">
            <h1 class="oxygen">STARTUP FASHION WEEK</h1>
            <h2 class="oxygen2">Discover | Connect | Accelerate</h2>
             <div class="social-icons">
                <a href="#"><%= image_tag(("twitter_icon.png"), :class => "social")%></a>
                 <a href="#"><%= image_tag(("facebook_icon.png"), :class => "social")%></a>
                  <a href="#"><%= image_tag(("instagram_icon.png"), :class => "social")%></a>
              </div>
            </div>
              </div>

        <div class="nav-width">
          <nav class="top-bar" data-topbar data-options="sticky_on: large">
        <ul class="title-area">
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
              <li><a href="#">Register</a></li>
            <li class="has-dropdown">
              <a href="#">Contact</a>
              <ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
              </ul>
            </li>
          </ul>

        </section>
      </nav>

    </div>



<div class="body-content-wrapper">
  <%= image_tag "http://placehold.it/450x250&text=flixel", :class => "flixel" %>
  <div class="feature-sponsor"></div>
</div>

<div class="news" id="news_ticker">
  <ul>
    <li><a href="#">Sign up for our Newsletter</a></li>
    <li><a href="#">Message 2</a></li>
    <li><a href="#">Message 3</a></li>
    <li><a href="#">Message 4</a></li>
  </ul>
</div>

<a href="#"><div class="clickhere"><p>Click Here</p></div></a>


  <section>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->


        <div class="large-3 small-6 columns">
          <div class="thumbnail">
            <%= image_tag "http://placehold.it/250x250&text=Thumbnail", :class => "image" %>
            <%= link_to @featured, class: 'caption' do %>
              <%= @featured.short_description %>
            <% end %>
          </div>

          <h6 class="panel" id="panel-label"><%= link_to "Startup of the Week", @featured %></h6>
        </div>

        <div class="large-3 small-6 columns">
         <div class="thumbnail">
          <img src="http://placehold.it/250x250&text=Thumbnail" class="image" />
          <p class="caption">blah blah</p>
         </div>
          <h6 class="panel" id="panel-label">Sponsor Spotlight</h6>
        </div>

        <div class="large-3 small-6 columns">
          <div class="thumbnail">
          <img src="http://placehold.it/250x250&text=Thumbnail" class="image" />
          <p class="caption">more blah blah</p>
         </div>
          <h6 class="panel" id="panel-label">Event Spotlight</h6>
        </div>

        <div class="large-3 small-6 columns">
          <div class="thumbnail">
            <img src="http://placehold.it/250x250&text=Thumbnail" class="image" />
            <p class="caption">Don't miss all the exciting updates! Join the SFW E-Mail list to get exclusive updates!</p>
          </div>
            <h6 class="panel" id="panel-label"><a href="#" data-reveal-id="myModal" data-reveal>Email List Spotlight</a></h6>
            <div id="myModal" class="reveal-modal" data-reveal>
              <h3>Let's get in touch!</h3>
                <p class="lead">Subscribe, subscribe!</p>
                <p><%= render 'form' %></p>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>

<div class="headline"><h2 class="oxygen2">Discover | Connect | Accelerate</h2></div>


</section>




    <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">

            <li><a href="welcome/about">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>

          </ul>
        </div>
      </div>
    </div>

  </div>
  </footer>





