<div class="container">

  <div class="header-container">
      <div class="logo-container">
        <%= image_tag("logo.png") %>
      </div>
      <div class="headline">
        <h1 class="oxygen">STARTUP FASHION WEEK</h1>
        <h2 class="oxygen2">Discover | Connect | Accelerate</h2>
         <div class="social-icons">
            <a href="#"><%= image_tag(("twitter_icon.png"), :class => "social")%></a>
             <a href="#"><%= image_tag(("facebook_icon.png"), :class => "social")%></a>
              <a href="#"><%= image_tag(("instagram_icon.png"), :class => "social")%></a>
          </div>
        </div>
          </div>

    <div class="nav-width">
      <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
              <li><%= link_to "HOME", welcome_index_path %></li>
              <li><%= link_to "ABOUT", welcome_about_path %></li>
               <li><%= link_to "THE TEAM", welcome_index_path %></li>
               <li><%= link_to "EVENTS", welcome_index_path %></li>
               <li><%= link_to "SPEAKERS", welcome_index_path %></li>
               <li><%= link_to "SPONSORS", welcome_index_path %></li>
              <li><%= link_to "MEDIA", welcome_media_path %></li>
              <li><%= link_to "CONTACT US", welcome_contact_path %></li>
      </ul>


    </section>
  </nav>
</div>
</div>

<!-- about us section -->
    <div class="body-content-wrapper">
      <div class="sidebar">
        <ul>
          <li><a href="#AboutUs">Management Team</a></li>
          <li><a href="#AboutEvent">Advisory Board</a></li>
         </ul>
      </div>
      <div id="main">
        <h2><a name="AboutUs">The Team</a></h2>

      <table>
        <tr>
          <td>
            <figure class="cap-bot">
              <%= image_tag(("team_1.png"), :class => "team_pics")%>
              <figcaption>
                <div class="team_icons">
                  <p class="connect">Connect with me!</p>
                    <i class="fa fa-facebook-square fa-2x todaright"></i>
                    <i class="fa fa-twitter-square fa-2x todaright"></i>
                    <i class="fa fa-pinterest-square fa-2x todaright"></i>
                  </div>
              </figcaption>
            </figure>
          </td>
        <td>
            <figure class="cap-bot">
              <%= image_tag(("http://placehold.it/280x320"), :class => "team_pics")%>
              <figcaption>
                <p>Connect with me!</p>
              </figcaption>
            </figure>
        </td>
          </tr>
          <td>
            <p class="team_role_title">Social Media Manager</p>
            <p class="team_name">Tiffany Janzen</p>
          </td>
      </table>



      </div>
    </div>
<!-- footer -->
    <div class="footer">
      <div class="ticker" id="msg_ticker">
        <ul>
          <li><a href="#">Sign up for our Newsletter</a></li>
          <li><a href="#">Message 2</a></li>
          <li><a href="#">Message 3</a></li>
          <li><a href="#">Message 4</a></li>
        </ul>
      </div>

      <a href="#"><div class="click"><p>Click Here</p></div></a>
    </div>
</div>