<div class="container">

  <div class="header-container">
    <div class="logo-container">
      <%= image_tag("logo.png") %>
    </div>
      <div class="headline">
        <h1 class="headline1">STARTUP FASHION WEEK</h1>
        <h2 class="headline2">Discover | Connect | Accelerate</h2>
        <ul class="social-icons">
          <li><a href="https://twitter.com/StartupFW" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></li>
          <li><a href="https://www.facebook.com/StartupFW" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram fa-3x"></i></a></li>
          <li><a href=" http://startupfashionweek.wordpress.com" target="_blank"><i class="fa fa-wordpress fa-3x"></i></a></li>
        </ul>
      </div>
  </div>

  <div class="nav-width">
    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>


        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><%= link_to "HOME", welcome_index_path %></li>
            <li><%= link_to "ABOUT", welcome_about_path %></li>
            <li><%= link_to "THE TEAM", teams_path %></li>
            <li><%= link_to "EVENTS", welcome_index_path %></li>
            <li><%= link_to "SPEAKERS", welcome_index_path %></li>
            <li><%= link_to "SPONSORS", all_sponsors_path %></li>
            <li><%= link_to "MEDIA", welcome_media_path %></li>
            <li><%= link_to "CONTACT US", welcome_contact_path %></li>
          </ul>

        </section>
      </nav>
    </div>
  </div>
  <div class="body-content-wrapper">
            <div class="sidebar">
              <ul>
                <li><a href="#Sponsor">Sponsor Spotlight</a></li>
                <li><a href="#Description">Sponsor Description</a></li>
                <li><a href="#Affiliation">Sponsor Affiliation</a></li>
              </ul>
            </div>
            <div id="main">
                <h1><a name="Sponsor">SPONSOR SPOTLIGHT</a></h1>
                <hr />
                <div style="height: 199px; overflow: visible;"><%= image_tag @sponsor.cover_image_url.to_s, :size => "679x250" %></div>
                <div class="sml_logo_pic">
                  <%= image_tag @sponsor.logo_url.to_s, :style => "width: 150px; margin-left: 30px; border: 3px solid white" %>
                </div>
                  <ul class="social_icon_grp">
                  <% if !@sponsor.twitter_link.empty? %>
                    <%= link_to @sponsor.twitter_link do %>
                      <li><i class="fa fa-twitter-square fa-2x"></i></li>
                    <% end %>
                  <% end %>
                  <% if !@sponsor.facebook_link.empty? %>
                    <%= link_to @sponsor.facebook_link do %>
                      <li><i class="fa fa-facebook-square fa-2x"></i></li>
                    <% end %>
                  <% end %>
                </ul>
                <p>
                    <strong><%= @sponsor.name %></strong><br />
                    <%= link_to @sponsor.url, @sponsor.url %><br />
                    <%= @sponsor.address %><br />
                    <%= @sponsor.email unless @sponsor.email.empty? %><br />
                    <%= @sponsor.phone_number unless @sponsor.phone_number.empty? %><br />
                    <a name="Description">Company Description:</a><br />
                      <%= @sponsor.description %><br><br>
                    <a name="Affiliation">Sponsor Affiliation:</a><br>
                      <%= @sponsor.affiliation %>
                </p>
            </div>
        </div>


    <div class="footer">
      <div class="ticker" id="msg_ticker">
        <ul>
          <li><a href="#">Sign up for our Newsletter</a></li>
          <li><a href="#">Message 2</a></li>
          <li><a href="#">Message 3</a></li>
          <li><a href="#">Message 4</a></li>
        </ul>
      </div>

      <div class="click">
        <div class="click_group">
          <i class="fa fa fa-chevron-left fa-3x"></i><div class="click_here">Click There</div>
        </div>
    </div>
</div>





    </div>
</div>






                      <script type="text/javascript">
                      var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
                      try {
                          var jqueryLoaded=jQuery;
                          jqueryLoaded=true;
                      } catch(err) {
                          var jqueryLoaded=false;
                      }
                      var head= document.getElementsByTagName('head')[0];
                      if (!jqueryLoaded) {
                          var script = document.createElement('script');
                          script.type = 'text/javascript';
                          script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
                          head.appendChild(script);
                          if (script.readyState && script.onload!==null){
                              script.onreadystatechange= function () {
                                    if (this.readyState == 'complete') mce_preload_check();
                              }
                          }
                      }

                      var err_style = '';
                      try{
                          err_style = mc_custom_error_style;
                      } catch(e){
                          err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
                      }
                      var head= document.getElementsByTagName('head')[0];
                      var style= document.createElement('style');
                      style.type= 'text/css';
                      if (style.styleSheet) {
                        style.styleSheet.cssText = err_style;
                      } else {
                        style.appendChild(document.createTextNode(err_style));
                      }
                      head.appendChild(style);
                      setTimeout('mce_preload_check();', 250);

                      var mce_preload_checks = 0;
                      function mce_preload_check(){
                          if (mce_preload_checks>40) return;
                          mce_preload_checks++;
                          try {
                              var jqueryLoaded=jQuery;
                          } catch(err) {
                              setTimeout('mce_preload_check();', 250);
                              return;
                          }
                          var script = document.createElement('script');
                          script.type = 'text/javascript';
                          script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
                          head.appendChild(script);
                          try {
                              var validatorLoaded=jQuery("#fake-form").validate({});
                          } catch(err) {
                              setTimeout('mce_preload_check();', 250);
                              return;
                          }
                          mce_init_form();
                      }
                      function mce_init_form(){
                          jQuery(document).ready( function($) {
                            var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
                            var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
                            $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
                            options = { url: 'http://startupfashionweek.us8.list-manage.com/subscribe/post-json?u=7b31bc9…=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                                          beforeSubmit: function(){
                                              $('#mce_tmp_error_msg').remove();
                                              $('.datefield','#mc_embed_signup').each(
                                                  function(){
                                                      var txt = 'filled';
                                                      var fields = new Array();
                                                      var i = 0;
                                                      $(':text', this).each(
                                                          function(){
                                                              fields[i] = this;
                                                              i++;
                                                          });
                                                      $(':hidden', this).each(
                                                          function(){
                                                              var bday = false;
                                                              if (fields.length == 2){
                                                                  bday = true;
                                                                  fields[2] = {'value':1970};//trick birthdays into having years
                                                              }
                                                              if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                                                  this.value = '';
                                                              } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                                                  this.value = '';
                                                              } else {
                                                                  if (/\[day\]/.test(fields[0].name)){
                                                                      this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;
                                                                  } else {
                                                                      this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                                  }
                                                              }
                                                          });
                                                  });
                                              $('.phonefield-us','#mc_embed_signup').each(
                                                  function(){
                                                      var fields = new Array();
                                                      var i = 0;
                                                      $(':text', this).each(
                                                          function(){
                                                              fields[i] = this;
                                                              i++;
                                                          });
                                                      $(':hidden', this).each(
                                                          function(){
                                                              if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                                                  this.value = '';
                                                              } else {
                                                                  this.value = 'filled';
                                                              }
                                                          });
                                                  });
                                              return mce_validator.form();
                                          },
                                          success: mce_success_cb
                                      };
                            $('#mc-embedded-subscribe-form').ajaxForm(options);


                          });
                      }
                      function mce_success_cb(resp){
                          $('#mce-success-response').hide();
                          $('#mce-error-response').hide();
                          if (resp.result=="success"){
                              $('#mce-'+resp.result+'-response').show();
                              $('#mce-'+resp.result+'-response').html(resp.msg);
                              $('#mc-embedded-subscribe-form').each(function(){
                                  this.reset();
                              });
                          } else {
                              var index = -1;
                              var msg;
                              try {
                                  var parts = resp.msg.split(' - ',2);
                                  if (parts[1]==undefined){
                                      msg = resp.msg;
                                  } else {
                                      i = parseInt(parts[0]);
                                      if (i.toString() == parts[0]){
                                          index = parts[0];
                                          msg = parts[1];
                                      } else {
                                          index = -1;
                                          msg = resp.msg;
                                      }
                                  }
                              } catch(e){
                                  index = -1;
                                  msg = resp.msg;
                              }
                              try{
                                  if (index== -1){
                                      $('#mce-'+resp.result+'-response').show();
                                      $('#mce-'+resp.result+'-response').html(msg);
                                  } else {
                                      err_id = 'mce_tmp_error_msg';
                                      html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                                      var input_id = '#mc_embed_signup';
                                      var f = $(input_id);
                                      if (ftypes[index]=='address'){
                                          input_id = '#mce-'+fnames[index]+'-addr1';
                                          f = $(input_id).parent().parent().get(0);
                                      } else if (ftypes[index]=='date'){
                                          input_id = '#mce-'+fnames[index]+'-month';
                                          f = $(input_id).parent().parent().get(0);
                                      } else {
                                          input_id = '#mce-'+fnames[index];
                                          f = $().parent(input_id).get(0);
                                      }
                                      if (f){
                                          $(f).append(html);
                                          $(input_id).focus();
                                      } else {
                                          $('#mce-'+resp.result+'-response').show();
                                          $('#mce-'+resp.result+'-response').html(msg);
                                      }
                                  }
                              } catch(e){
                                  $('#mce-'+resp.result+'-response').show();
                                  $('#mce-'+resp.result+'-response').html(msg);
                              }
                          }
                      }

                      </script>