<div class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">
    <aside class="sidebar">
      <ul>
        <li><a href="#Sponsor">Sponsor Spotlight</a></li>
        <li><a href="#Description">Sponsor Description</a></li>
        <li><a href="#Affiliation">Sponsor Affiliation</a></li>
      </ul>
    </aside>
  </div>
  <div class="medium-9 column">
    <content class="content">

      <h1><a name="Sponsor">SPONSOR SPOTLIGHT</a></h1>

      <header class="section-header" style="background-image: url(<%= @sponsor.cover_image_url.to_s %>)" data-frame data-ratio="16x9">
        <div class="intro">
          <%= image_tag @sponsor.logo_url.to_s, class: "logo" %>
          <div class="inline">
          <div class="table">
            <div class="table-inner">
              <ul class="sponsors_social_icon_grp">
                <% if !@sponsor.twitter_link.empty? %>
                  <li><%= link_to @sponsor.twitter_link do %>
                    <i class="fa fa-twitter-square"></i><% end %></li>
                <% end %>
                <% if !@sponsor.facebook_link.empty? %>
                  <li><%= link_to @sponsor.facebook_link do %>
                    <i class="fa fa-facebook-square"></i><% end %></li>
                <% end %>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </header>


      <div class="spotlight_content">
        <strong><%= @sponsor.name %></strong><br />
        <%= link_to @sponsor.url, @sponsor.url %><br />
        <%= @sponsor.address %><br />
        <%= @sponsor.email unless @sponsor.email.empty? %><br />
        <%= @sponsor.phone_number unless @sponsor.phone_number.empty? %><br />
        <br>
        <strong><a name="Description">Company Description:</a></strong><br />
        <%= @sponsor.description %><br><br>

        <strong><a name="Affiliation">Sponsor Affiliation:</a></strong><br>
        <%= @sponsor.affiliation %>
        <br />
      </div>
    </content>
  </div>
</div>
<%= render 'layouts/message_ticker' %>
</div>
</div>

