<div class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">
    <aside class="sidebar">
      <ul>
        <li><a href="#Sponsor">Sponsor Spotlight</a></li>
        <li><a href="#Description">Sponsor Description</a></li>
        <li><a href="#Affiliation">Sponsor Affiliation</a></li>
      </ul>
    </aside>
  </div>
  <div class="medium-9 column">
    <content class="content">
      <h1><a name="Sponsor">SPONSOR SPOTLIGHT</a></h1>
      <hr />
      <div style="height: 199px; overflow: visible;"><%= image_tag @sponsor.cover_image_url.to_s, :size => "679x250" %></div>
      <div class="sml_logo_pic">
        <%= image_tag @sponsor.logo_url.to_s, :style => "width: 150px; margin-left: 30px; border: 3px solid white" %>
      </div>
        <ul class="social_icon_grp">
        <% if !@sponsor.twitter_link.empty? %>
          <%= link_to @sponsor.twitter_link do %>
            <li><i class="fa fa-twitter-square fa-2x"></i></li>
          <% end %>
        <% end %>
        <% if !@sponsor.facebook_link.empty? %>
          <%= link_to @sponsor.facebook_link do %>
            <li><i class="fa fa-facebook-square fa-2x"></i></li>
          <% end %>
        <% end %>
      </ul>
      <div class="spotlight_content">
        <strong><%= @sponsor.name %></strong><br />
        <%= link_to @sponsor.url, @sponsor.url %><br />
        <%= @sponsor.address %><br />
        <%= @sponsor.email unless @sponsor.email.empty? %><br />
        <%= @sponsor.phone_number unless @sponsor.phone_number.empty? %><br />
        <br>
        <strong><a name="Description">Company Description:</a></strong><br />
        <%= @sponsor.description %><br><br>

        <strong><a name="Affiliation">Sponsor Affiliation:</a></strong><br>
        <%= @sponsor.affiliation %>
      </div>
    </content>
  </div>
</div>
<%= render 'layouts/message_ticker' %>
</div>
</div>

