<div class="container">

  <div class="header-container">
      <div class="logo-container">
        <%= image_tag("logo.png") %>
      </div>
      <div class="headline">
        <h1 class="oxygen">STARTUP FASHION WEEK</h1>
        <h2 class="oxygen2">Discover | Connect | Accelerate</h2>
         <div class="social-icons">
            <a href="#"><%= image_tag(("twitter_icon.png"), :class => "social")%></a>
            <a href="#"><%= image_tag(("facebook_icon.png"), :class => "social")%></a>
            <a href="#"><%= image_tag(("instagram_icon.png"), :class => "social")%></a>
          </div>
        </div>
          </div>

  <div class="nav-width">
    <nav class="top-bar" data-topbar data-options="sticky_on: large">
      <ul class="title-area">
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to "HOME", welcome_index_path %></li>
          <li><%= link_to "ABOUT", welcome_about_path %></li>
          <li><%= link_to "THE TEAM", teams_path %></li>
          <li><%= link_to "EVENTS", welcome_index_path %></li>
          <li><%= link_to "SPEAKERS", welcome_index_path %></li>
          <li><%= link_to "SPONSORS", all_sponsors_path %></li>
          <li><%= link_to "MEDIA", welcome_media_path %></li>
          <li><%= link_to "CONTACT US", welcome_contact_path %></li>
        </ul>


      </section>
    </nav>
  <div class="body-content-wrapper">
    <div class="sidebar">
      <ul>
        <li><a href="#platinum">Platinum</a></li>
        <li><a href="#gold">Gold</a></li>
        <li><a href="#silver">Silver</a></li>
        <li><a href="#bronze">Bronze</a></li>
        <li><a href="#partners">Partners</a></li>
      </ul>
    </div>
    <div id="main">
      <a name="platinum"><h3>Platinum Sponsors</h3></a>
      <hr>
      <% @all_sponsors.platinum.each do |platinum| %>
        <%= link_to platinum.website do %>
          <%= image_tag platinum.sponsor_logo_url.to_s %>
        <% end %>
      <% end %>

      <a name="gold"><h3>Gold Sponsors</h3></a>
      <hr>
      <% @all_sponsors.gold.each do |gold| %>
        <%= link_to gold.website do %>
          <%= image_tag gold.sponsor_logo_url.to_s %>
        <% end %>
      <% end %>

      <a name="silver"><h3>Silver Sponsors</h3></a>
      <hr>
      <% @all_sponsors.silver.each do |silver| %>
        <%= link_to silver.website do %>
          <%= image_tag silver.sponsor_logo_url.to_s %>
        <% end %>
      <% end %>

      <a name="bronze"><h3>Bronze Sponsors</h3></a>
      <hr>
      <% @all_sponsors.bronze.each do |bronze| %>
        <%= link_to bronze.website do %>
          <%= image_tag bronze.sponsor_logo_url.to_s %>
        <% end %>
      <% end %>
      <a name="partners"><h3>Partners</h3></a>
      <hr>
      <% @all_sponsors.partners.each do |partners| %>
        <%= link_to partners.website do %>
          <%= image_tag partners.sponsor_logo_url.to_s %>
        <% end %>
      <% end %>
    </div>
  </div>

    <div class="footer">
      <div class="ticker" id="msg_ticker">
        <ul>
          <li><a href="#">Sign up for our Newsletter</a></li>
          <li><a href="#">Message 2</a></li>
          <li><a href="#">Message 3</a></li>
          <li><a href="#">Message 4</a></li>
        </ul>
      </div>

      <a href="#"><div class="click"><p>Click Here</p></div></a>
    </div>
  </div>
</div>