<div class="container">

<div class="wrapper">
<div class="row">
<div class="row">
<div class="medium-3 column">

    <!-- sidebar -->
    <aside class="sidebar">
      <ul>
       <li><a href="#platinum">Platinum</a></li>
        <li><a href="#gold">Gold</a></li>
        <li><a href="#silver">Silver</a></li>
        <li><a href="#bronze">Bronze</a></li>
        <li><a href="#partners">Partners</a></li>
      </ul>
    </aside>


  </div>
    <div class="medium-9 column">

    <!-- about content -->
    <content class="content">
      <a name="platinum" class="level"><h3>Platinum Sponsors</h3></a>
      <hr>
      <div class="sponsor_img">
        <% @all_sponsors.platinum.each do |platinum| %>
          <%= link_to platinum.website do %>
            <%= image_tag platinum.sponsor_logo_url.to_s %>
          <% end %>
        <% end %>
      </div>

      <a name="gold" class="level"><h3>Gold Sponsors</h3></a>
      <hr>
      <div class="sponsor_img">
        <% @all_sponsors.gold.each do |gold| %>
          <%= link_to gold.website do %>
            <%= image_tag gold.sponsor_logo_url.to_s %>
          <% end %>
        <% end %>
      </div>

      <a name="silver" class="level"><h3>Silver Sponsors</h3></a>
      <hr>
      <div class="sponsor_img">
        <% @all_sponsors.silver.each do |silver| %>
          <%= link_to silver.website do %>
            <%= image_tag silver.sponsor_logo_url.to_s %>
          <% end %>
        <% end %>
      </div>

      <a name="bronze" class="level"><h3>Bronze Sponsors</h3></a>
      <hr>
      <div class="sponsor_img">
        <% @all_sponsors.bronze.each do |bronze| %>
          <%= link_to bronze.website do %>
            <%= image_tag bronze.sponsor_logo_url.to_s %>
          <% end %>
        <% end %>
      </div>

      <a name="partners" class="level"><h3>Partners</h3></a>
      <hr>
      <div class="sponsor_img">
        <% @all_sponsors.partners.each do |partners| %>
          <%= link_to partners.website do %>
            <%= image_tag partners.sponsor_logo_url.to_s %>
          <% end %>
        <% end %>
      </div>

    </content>

  </div>
</div>

<!-- message ticker -->
<%= render 'layouts/message_ticker' %>

</div>
</div>

