<header class="site-header">
  <!-- company profile -->
  <div class="profile">

    <!-- logos -->
    <div class="logo">
      <%= link_to image_tag('logo.png'), welcome_index_path %>
    </div>
    <div class="company">

      <h1 class="name">Startup Fashion Week</h1>
      <h2 class="mission">discover | connect | accelerate</h2>

      <!-- social icons -->
      <ul class="socials">
        <li><a href="https://twitter.com/StartupFW" target="_blank"><i class="fa fa-twitter-square fa-fw"></i></a></li>
        <li><a href="https://www.facebook.com/StartupFW" target="_blank"><i class="fa fa-facebook-square fa-fw"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram fa-fw"></i></a></li>
        <li><a href=" http://startupfashionweek.wordpress.com" target="_blank"><i class="fa fa-wordpress fa-fw"></i></a></li>
        <li><%= link_to welcome_subscribe_path do %>
              <i class="fa fa-envelope fa-fw"></i></a>
            <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="fixed-nav" data-magellan-expedition="fixed">
     <nav class="navbar">
      <ul class="navbar-menu">
        <li class="navbar-button"><i class="fa fa-navicon fa-2x"></i></li>
        <li><%= link_to "HOME", welcome_index_path %></li>
        <li><%= link_to "ABOUT", welcome_about_path %></li>
        <li><%= link_to "THE TEAM", teams_path %></li>
        <li><%= link_to "TICKETS", events_path %></li>
        <li><%= link_to "PARTICIPANTS", participants_path %></li>
        <li><%= link_to "SPONSORS", all_sponsors_path %></li>
        <li><%= link_to "MEDIA", welcome_media_path %></li>
        <li><%= link_to "CONTACT US", welcome_contact_path %></li>
      </ul>
    </nav>
  </div>

</header>
