<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=10">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= titler(yield(:page_title)) %></title>

  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>

  <!-- font awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>

</head>
<!-- body: background-image -->
<body class="version">

  <!-- main content: max-width: 950px, centered -->
  <main class="main" role="main">

    <!-- site header -->
    <%= render 'layouts/header' %>

    <!-- page content -->
    <%= yield %>

    <!-- site footer -->
    <%= render 'layouts/footer' %>

  </main>

  <!-- javascript -->
  <%= javascript_include_tag "application" %>

</body>
</html>